body {
    background-color: #f9f1d2;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  /* Titel oben */
  h1 {
    font-size: 2.2rem;
    margin-top: 20px;
    color: #3a1e0d;
    font-weight: bold;
  }
  
  h1 a {
    color: inherit;
    text-decoration: none;
  }
  
  /* Trenner */
  hr {
    width: 100%;
    height: 10px;
    background-color: #4a2a16;
    border: none;
    margin: 20px 0 30px;
  }
  
  
  /* Bereichstitel */
  h2 {
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
    margin: 10px auto 5px;
  }
  
  /* Beschreibungstext */
  p {
    font-size: 1.05rem;
    font-weight: bold;
    margin: 0 0 12px;
    line-height: 1.4;
  }

  
  /* Bilder */
  img {
    width: 80%;
    max-width: 300px;
    border: 5px solid #4a2a16;
    margin: 10px 0;
  }
  
  .button {
    display: block;
    width: fit-content;
    margin: 10px auto 30px;
    padding: 12px 24px;
    background-color: #821f17;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  
  /* Sektionen sauber stapeln */
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  