body {
    background-color: #f9f1d2;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 2.2rem;
    margin: 20px 0 10px;
    color: #3a1e0d;
    font-weight: bold;
  }
  
  /* Trenner */
  hr {
    width: 100%;
    height: 10px;
    background-color: #4a2a16;
    border: none;
    margin: 20px 0 30px;
  }
  
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 1.4rem;         /* vorher: 1.2rem */
    font-weight: 700;          /* statt normal 600 */
    margin: 20px auto 10px;
  }
  
  img {
    width: 80%;
    max-width: 350px;
    border: 5px solid #4a2a16;
    margin-bottom: 20px;
  }

  h1 a {
    color: inherit;
    text-decoration: none;
  }
  
  /* Button */
  .button {
    padding: 12px 24px;
    background-color: #821f17;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  form#reservationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
  
  form#reservationForm label {
    font-weight: bold;
    font-size: 1rem;
  }
  
  form#reservationForm input[type="date"] {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 1rem;
  }

  #reservationResponse {
    margin: 20px auto 20px;
    padding: 14px 20px;
    max-width: 320px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    display: none;
  }
  
  
  .success-message {
    background-color: #94dc84;
    color: black;
  }
  
  .error-message {
    background-color: #e67c7c;
    color: black;
  }
  
  #username {
    text-transform: uppercase;
  }